{
  "type": "service_account",
  "project_id": "<projetId>",
  "private_key_id": "<privateKeyId>",
  "private_key": "<privateKey>",
  "client_email": "<clientEmail>",
  "client_id": "<clientId>",
  "auth_uri": "<authUri>",
  "token_uri": "<tokenUri>",
  "auth_provider_x509_cert_url": "<authProvider>",
  "client_x509_cert_url": "<clientCertUrl>"
  "universe_domain": "googleapis.com"
}
